<!DOCTYPE html>
<html lang="es">
    <head>
        <title>rutas naturales municipios hispania Antioquia</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="css/estilos-natural.ciclo.css">

            <!--js-->
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script type="text/javascript" src="js/Hispania-cicla.js"></script>
        <script type="text/javascript" src="js/SitiosInteres.js"></script>


        <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>

    </head>
    <body>
        <header id="yo" class="Header">
            <nav class="MainMenu">
                <ul class="MainMenu-list">
                <liclass="MainMenu-item">

                <a class="MainMenu-link" href="hispania.html">volver</a>
                </li>
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="#">¿Quiero Aportar?</a>
                    </li>
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="actividades-hispania.html">Actividades</a>
                    </li>
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="#contacto">Contacto</a>
                    </li>
                </ul>
            </nav>
            <figure class="Header-imageContainer">
                <a href="index.html"><img src="img/cicloicon.jpg" alt="Imagen personal" class="Header-image"/></a>
                <figcaption class="Header-imageDescription">
                    <a class="Header-link">@HispaniaAntioquia</a>
                </figcaption>
            </figure>
        </header>
                  
            

        
        <section id="container">
            <h2 class="Work-title u-title">Ciclo Motañismo</h2>

<p>Es el recorrido que se realiza en bicicleta de montaña por senderos y trochas de un área determinada. se puede clasificar en varias actividades: Cross country (XC), Down Hill (DH), Maratón (MX), Freeride, Four Cross (4x) y X Terra en el que se combinan actividades de ciclomontañismo, natación y atletismo a campo traviesa.</p>

            <article  class="container-item"id="map-samanes">
                
                <!--mapas-->    

            </article>
            <article class="container-item">
                <figure class="">
                    <img class="" src="img/ciclo-landing.png" alt="Es la descripcion de mi imagen">
                </figure>
            </article>
            <article class="container-item">
                <p>
                    <h2>Tarifas</h2>                
                    Plan A:<br>$160.000<br>
                    INCLUYE:   sesion + Seguro de asistencia médica<br>
                   <br><br>Plan B:<br>
                    $150.000<br>
                    INCLUYE:<br>
                    Transporte+ bike+ sesion + Almuerzo<br>
                </p>

            </article>
            <article class="container-item">
                    <h2>Formas de Pago</h2>
                    <p>Consignación en Bancolombia<br>
                    cuenta ahorros No 00000000000</p>
                <article id="container-img">
                    <figure >
                        <img src="img/ps.png">
                    </figure>
                    <figure>
                        <img src="img/efecty.png">
                    </figure>
                    <figure>
                        <img src="img/viabalot.png">
                    </figure>
                </article>
            </article>
        </section>





        <footer id="contacto" class="Footer">
            
            <label>ayudanos a seguir creciendo</label>
                <input type="text" placeho  lder="email">
        </footer>
    </body>
</html>
