{% extends "sevices/list_services.html"%}


{% block titiel %}rutas naturales hoteles  hispania Antioquia{% endblock %}


{% block nav %}{% endblock %}

{% block header %}
<header id="yo" class="Header">
            
            <figure class="Header-imageContainer">
                <a href="/"><img src="/static/img/naturaicon.jpg" alt="Imagen personal" class="Header-image"/></a>
                <figcaption class="Header-imageDescription">
                    <a class="Header-link">@HispaniaAntioquia</a>
                </figcaption>
            </figure>
        </header>

{% endblock %}


{% block container %}

	<div class="hotels">
			{% for hotel in hotels %}
				<div class="hotel">
						<!--aqui van a ir los hoteles por la gracia del señor-->
						<div>Nombre: {{ hotel.name }}</div>

						
						<div>Direccion: {{ hotel.address }}</div>
				</div>
			{% endfor %}
	</div>

{% endblock %}



