<!DOCTYPE html>
<html lang="ES">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="Joseluismunevar@gmail.com">

    <title>Viatioquia el lugar donde nace antioquia</title>

    <!--estilos-->
    <link href="css/estilos.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/input.css">
  

    <!-- js -->
    <script type="text/javascript" src="js/ligthbox.js"></script>

</head>
    
<body>
<section id="containertab">
    <div class="colortab">a</div>
    <div class="colortab">b</div>
    <div class="colortab">c</div>
    <div class="colortab">f</div>
    <div class="colortab">a</div>
</section>

<header>
    <nav class="nav-planer">

        <a href="index.html"><img id="logo" src="img/logo.png" alt="logo de aviantioquia"/></a>

    
        <a class="buttom-menu">*</a>
            <div id="menu">
                <ul>
                    <li><a href="planear-restaurantes.html">Planea tu viaje</a> </li>
                    <li><a href="#">Actividades</a></li>
                    <li><a href="#">Municipios</a></li>
                    <li><a href="#">contacto</a></li>
                    <li><a href="#">registro</a></li>
                    <button><a href="javascript:showLightbox();">login</a></button>
                </ul>
            </div>
    </nav>
</header>

<!---lightbox-->
<div id="ponerbox"></div>
<div id="quitarbox"><a href="javascript:hideLightbox();"><img  id="btncerrar"src="img/cerrar.png"></a>  
<div id="loginGuiamed">
    <form method="post" action="login.php" id="formlogin"> 
        
            <label for="nombre">Nombre</label><br>
            <input name="nombre" type="text" id="nombre"><br>
            <label for="nombre">Apellido</label><br>
            <input name="apellido" type="text" id="apellido"><br>    
            <label for="password">contraseña</label><br>
            <input name="password" type="password" id="password"><br> 
            <label for="nombre">Correo</label><br>
            <input name="email" type="email" id="email"><br><br>
        
    <button type="submit" id="btnenviar">enviar</button><br>
    </form>     
    
</div>
</div>
 <!---ligtbox-->
 <div class="paso1">
     <img src="img/primero.png" alt"primericono de navegación"/>
 </div>

 <div class="paso2">
     <img src="img/segundo.png" alt="segundo icnono de navegación"/>
 </div>
 <div class="paso3">
     <img src="img/tercero.png" alt="tercer icono de navegación"/>
 </div>
<div class="descrip-restaurantes">

    <h1>restaurantes</h1>
    <p>Los restaurantes a tu medida según tu 
    presupuesto, Disfruta de la mejor economia de la zona cafera del Antioquia</p>
<span>20.000</span>

<span style="margin-left:295px;">200.000</span>
      <input type="range">

</div>
  

<article class="recomendado">
   <figure>
    <img src="img/recomen.jpg" alt="municipio recomedado">
   </figure>
   <figcaption>
       Quiero saber más sobre Hispania
   </figcaption>    
</article>

<section id="restaurantes">
    <article class="restaurante">
        <figure>
            <img src="img/restaurante.jpg" alt="restaurante de la zona">
        </figure>
            <figcaption>chorizolandia</figcaption>
    </article>
    <article class="restaurante">
        <figure>
            <img src="img/restaurante1.jpg" alt="restaurante de la zona">
        </figure>
            <figcaption>chorizolandia</figcaption>
    </article>
    <article class="restaurante">
        <figure>
            <img src="img/restaurante2.jpg" alt="restaurante de la zona">
        </figure>
            <figcaption>chorizolandia</figcaption>
    </article>
    <article class="restaurante">
        <figure>
            <img src="img/restaurante3.jpg" alt="restaurante de la zona">
        </figure>
            <figcaption>chorizolandia</figcaption>
    </article>
    <article class="restaurante">
        <figure>
            <img src="img/restaurante4.jpg" alt="restaurante de la zona">
        </figure>
            <figcaption>chorizolandia</figcaption>
    </article>
    <article class="restaurante">
        <figure>
            <img src="img/restaurante5.jpg" alt="restaurante de la zona">
        </figure>
            <figcaption>chorizolandia</figcaption>
    </article>
    <article class="restaurante">
        <figure>
            <img src="img/restaurante6.jpg" alt="restaurante de la zona">
        </figure>
            <figcaption>chorizolandia</figcaption>
    </article>
    <article class="restaurante">
        <figure>
            <img src="img/restaurante7.jpg" alt="restaurante de la zona">
        </figure>
            <figcaption>chorizolandia</figcaption>
    </article>
    <article class="restaurante">
        <figure>
            <img src="img/restaurante8.jpg" alt="restaurante de la zona">
        </figure>
            <figcaption>chorizolandia</figcaption>
    </article>
</section>
<span class="siguiente">
<a href="planear-ruta.html">
    siguiente   
</a>
</span>

<footer>
    <label>ayudanos a seguir creciendo</label>
                <input type="text" placehoolder="email">
</footer>