{% extends "sevices/list_services.html"%}


{% block titiel %}rutas naturales hoteles  hispania Antioquia{% endblock %}


{% block header %}



		<header id="yo" class="Header">
            
            <figure class="Header-imageContainer">
                <a href="/"><img src="/static/img/cicloicon.jpg" alt="imagen actividad icon" class="Header-image"/></a>
                <figcaption class="Header-imageDescription">
                    <a class="Header-link">@Actividades</a>
                </figcaption>
            </figure>
        </header>
{% endblock %}




{% block content %}

	<div class="activities">
			{% for hotel in hotels %}
		<div class="activitie">
				<!--aqui van a ir los hoteles por las actividades del señor-->
		</div>
			{% endfor %}
	</div>

{% endblock %}


