{% extends "sevices/list_services.html"%}


{% block titiel %}rutas naturales hoteles  hispania Antioquia{% endblock %}


{% block header %}
<header id="yo" class="Header">
            
            <figure class="Header-imageContainer">
                <a href="/"><img src="/static/img/naturaicon.jpg" alt="imagen actividad icon" class="Header-image"/></a>
                <figcaption class="Header-imageDescription">
                    <a class="Header-link">@Lugares Naturales</a>
                </figcaption>
            </figure>
        </header>
{% endblock %}



{% block content %}

	<div class="places">
			{% for hotel in hotels %}
		<div class="place">
				<!--aqui van a ir los lugares por la gracia del señor-->
		</div>
			{% endfor %}
	</div>

{% endblock %}


