<!DOCTYPE html>
<html lang="es">

	<head>
		{% block description %}{% endblock %}
		<title>{% block title %}{% endblock %}</title>
		{% block imports %}{% endblock %}

	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="Joseluismunevar@gmail.com">



<!--js-->
        <script type="text/javascript" src="/static/js/Hispania-cicla.js"></script>
        <script type="text/javascript" src="/static/js/SitiosInteres.js"></script>
<!--css-->
  <link rel="stylesheet" href="/static/css/style_services.css">


        {% block nav %}{%endblock%}
        {% block header %}{%endblock%}
        {% block container %}{%endblock%}


        <footer id="contacto" class="Footer">
            
            <label>ayudanos a seguir creciendo</label>
                <input type="text" placeholder="email">
        </footer>
    </body>
</html>


